// Pages
.home {
  min-height: 100vh;
  background: url(./assets/img/mountains.jpg);
  background-position: center 55%;
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(./assets/img/mountains.jpg);
  background-position: center 55%;
}

// Navbar
.navbar {
  background-color: #002e63;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-bottom: #ff8243 solid 5px;

  & .active {
    color: #ff8243;
  }

  & a {
    color: #eee;
  }

  & h1:hover {
    transform: scale(1.1);
    transition: transform 100ms;
  }

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.links {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h1 {
    margin: 0 1rem;
  }

  & a:hover {
    color: #ff8243;
    transform: scale(1.1);
    transition: transform 100ms;
  }
}

// Jumbotron
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(./assets/img/rain.jpg);
  background-position: center 60%;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: #ff8243 solid 5px;
  min-height: 60vh;

  & h1 {
    font-size: 3rem;
    margin: 0;
  }

  & a {
    color: #eee;

    &:hover {
      color: #ff8243;
    }
  }
}

.jumbo-links {
  display: flex;
  justify-content: space-evenly;

  & h3 {
    margin: 10px;
  }
}

// Home Content
.foreclosure-article {
  max-width: 60%;
  margin: 2rem auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;
}

// Contact Content
.contact-article {
  max-width: 60%;
  margin: 2rem auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;

  & a {
    color: #ff8243;
  }

  & h1 {
    margin: 0.5rem;
  }
}

// Footer
.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  background-color: #ff8243;
  text-align: center;
  min-height: 5rem;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  border-top: #36454f solid 5px;
  overflow-wrap: break-word;
}

// Media Breakpoints
@media screen and (max-width: 690px) {
  .navbar ul {
    flex-direction: column;
  }

  .jumbotron {
    font-size: medium;
  }

  .jumbo-links {
    flex-direction: column;
  }

  .foreclosure-article {
    max-width: 90%;
  }

  .contact-article {
    max-width: 90%;

    & h1 {
      font-size: medium;
    }
  }
}
