body {
  background-color: #dcdcdc;
}

a {
  color: #32cd32;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.btn {
  border: 0 none;
}

.btn-primary {
  background-color: #32cd32;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background: #848482;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 5rem;
}
