// Pages
.home {
  min-height: 100vh;
  background: url(./assets/img/mountains.jpg);
  background-position: center 55%;
}

.foreclosure {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(./assets/img/mountains.jpg);
  background-position: center 55%;

  & nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;

    & li {
      margin: 1rem 1rem;
      text-align: center;
    }
  }
  & a {
    color: #ff8243;
    font-size: large;
    font-weight: 500;
  }

  & li:hover {
    transform: scale(1.1);
    transition: transform 100ms;
  }
}

.contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(./assets/img/mountains.jpg);
  background-position: center 55%;
}

// Navbar
.navbar {
  background-color: #002e63;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-bottom: #ff8243 solid 5px;

  & .active {
    color: #ff8243;
  }

  & a {
    color: #eee;
  }

  & h1:hover {
    transform: scale(1.1);
    transition: transform 100ms;
  }

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.links {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h1 {
    margin: 0 1rem;
  }

  & a:hover {
    color: #ff8243;
    transform: scale(1.1);
    transition: transform 100ms;
  }
}

// Jumbotron
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(4, 0, 221, 0.65), rgba(3, 1, 94, 0.65)),
    url(./assets/img/rain.jpg);
  background-position: center 60%;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  border-bottom: #ff8243 solid 5px;
  min-height: 60vh;

  & h1 {
    font-size: 3rem;
    margin: 0;
  }

  & a {
    color: #eee;

    &:hover {
      color: #ff8243;
    }
  }
}

.jumbo-links {
  display: flex;
  justify-content: space-evenly;

  & h2 {
    margin: 20px;
  }
}

// Home Content
.foreclosure-article {
  max-width: 60%;
  margin: 2rem auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;

  & a {
    color: #ff8243;
    font-size: larger;
  }

  & p {
    padding: 15px;
    margin: 0;
  }

  & li {
    list-style: circle;
  }

  & span {
    text-decoration: underline;
  }

  & .house-1 {
    float: left;
    margin: 1rem;
    max-width: 25rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  & .house-2 {
    float: right;
    margin: 1rem;
    max-width: 30rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

// Contact Content
.contact-article {
  max-width: 60%;
  margin: 2rem auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;

  & a {
    color: #ff8243;
  }

  & h1 {
    margin: 0.5rem;
  }
}

// Footer
.page-container {
  display: flex;
}

.content-wrap {
  flex: 1 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  background-color: #ff8243;
  text-align: center;
  min-height: 5rem;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
  border-top: #36454f solid 5px;
  overflow-wrap: break-word;
}

// Media Breakpoints
@media screen and (max-width: 960px) {
  .foreclosure-article {
    & .house-1 {
      max-width: 15rem;
      margin: 1rem;
    }

    & .house-2 {
      max-width: 20rem;
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .navbar {
    & ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & h1 {
      font-size: larger;
    }
  }

  .links {
    align-items: center;

    & h1 {
      margin: 0 0.5rem;
      font-size: large;
    }
  }

  .jumbotron {
    font-size: medium;
  }

  .jumbo-links {
    flex-direction: column;
  }

  .foreclosure-article {
    max-width: 90%;

    & .house-1 {
      max-width: 12rem;
    }

    & .house-2 {
      max-width: 12rem;
    }
  }

  .contact-article {
    max-width: 90%;

    & h1 {
      font-size: medium;
    }
  }
}

@media screen and (max-width: 400px) {
  .foreclosure-article {
    max-width: 85%;

    & .house-1 {
      max-width: 100%;
      margin: 1rem auto;
    }

    & .house-2 {
      max-width: 100%;
      margin: 1rem auto;
    }
  }
}
